@page
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_MasterLayout.cshtml";
    //var moduleNames = HttpContext.Session.Get<List<dynamic>>("ModuleNames");
    //var interfaceNames = HttpContext.Session.Get<List<dynamic>>("InterfaceNames");
    //var moduleNames = JsonConvert.DeserializeObject<List<dynamic>>(HttpContext.Session.GetString("ModuleNames"));
    //var interfaceNames = JsonConvert.DeserializeObject<List<dynamic>>(HttpContext.Session.GetString("InterfaceNames"));
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
