@page
@model PTLRealERP.Pages.StepofOperationNewModel
@{
}
<div class="card">
    <div class="card-header" style="min-height:500px;">
        <div class="row">
            <div class="col-md-4">
                <select class="form-select me-2 MDropdown" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1" selected>PDF</option>
                    <option value="2">HTML</option>
                    <option value="3">WORD</option>
                    <option value="3">EXCEL</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select me-2 MDropdown" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1" selected>PDF</option>
                    <option value="2">HTML</option>
                    <option value="3">WORD</option>
                    <option value="3">EXCEL</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select me-2 MDropdown" aria-label="Default select example">
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1" selected>PDF</option>
                    <option value="2">HTML</option>
                    <option value="3">WORD</option>
                    <option value="3">EXCEL</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="card first">
                    <div id="leftmheader" class="card-header">A. Operational Menu</div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            @foreach (var item in Model.menuItems)
                            {
                                if (item.itemslct == false)
                                {
                                    <li><h6 id="LeftMenuHeader">@item.itemdesc</h6></li>
                                }
                                else
                                {
                                    <li><a href=@item.itemurl id="LeftColumn">@item.itemdesc</a></li>
                                }

                            }
                        </ul>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-4">
                <h6 id="midmheader" class="card-header text-white" style="background-color:#0989C6;">B. General Report</h6>
            </div>
            <div class="col-md-4">
                <h6 id="rightmheader" class="card-header text-white" style="background-color:#0989C6;">C. Management Report</h6>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <style>
        #LeftMenuHeader{
            background-color: #DFF0D8;
            /* font-size: 14px; */
            padding: 4px;
        }

        #LeftColumn{
            color: #008000 !important;
            text-decoration: none;
            font-size: 0.9rem;
        }

        #leftmheader {
            padding: 0.3rem;
            background-color: #0989C6;
            color: #ffffff;
        }

    </style>
}