/* Google Fonts Import Link */
@media screen and (max-width: 400px) {
    .sidebar {
        width: 240px;
    }

        .sidebar.close {
            width: 78px;
        }

        .sidebar .profile-details {
            width: 240px;
        }

        .sidebar.close .profile-details {
            background: none;
        }

        .sidebar.close .profile-details {
            width: 78px;
        }

    .home-section {
        left: 240px;
        width: calc(100% - 240px);
    }

    .sidebar.close ~ .home-section {
        left: 78px;
        width: calc(100% - 78px);
    }
}
