/* Google Fonts Import Link */
@media screen and (max-width: 400px) {
    .sidebar[b-wdy3pm0kl9] {
        width: 240px;
    }

        .sidebar.close[b-wdy3pm0kl9] {
            width: 78px;
        }

        .sidebar .profile-details[b-wdy3pm0kl9] {
            width: 240px;
        }

        .sidebar.close .profile-details[b-wdy3pm0kl9] {
            background: none;
        }

        .sidebar.close .profile-details[b-wdy3pm0kl9] {
            width: 78px;
        }

    .home-section[b-wdy3pm0kl9] {
        left: 240px;
        width: calc(100% - 240px);
    }

    .sidebar.close ~ .home-section[b-wdy3pm0kl9] {
        left: 78px;
        width: calc(100% - 78px);
    }
}
